<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css')}}">
<title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="main">home</a></li>
    <li><a href="settings">settings</a></li>
    <!-- <div class="search">
        <input type="text" placeholder="Search.."></inputb>
    </div>
    <div class="search-container">
        <button>Submit</button>
    </div> -->
</taskbar>

</head>

<body>
 <h1> USER NOT FOUND, PLEASE RETURN TO MAIN PAGE! THANK YOU!</h1>
    
</body>
</html>