<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css')}}">
<title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="/templates/main.html">home</a></li>
    <li><a href="/templates/settings.html">settings</a></li>
    <li><a href="/templates/signup.html">signup</a></li>
    <li><a href="/templates/login.html">login</a></li>
    <!-- <div class="search">
        <input type="text" placeholder="Search.."></inputb>
    </div>
    <div class="search-container">
        <button>Submit</button>
    </div> -->
</taskbar>

</head>

<body>
    <h1> You are chatting with: {{person_name}} </h1>

    <div style="overflow-y: auto; justify-content: left;">
        {{start_loop}}
        <p> {{name}} : &quot;{{comment}}&quot;</p>
        <p> {{name}} : </br> <img src="{{image_name}}" alt="picture did not load correctly, please try again"></image> </p>
        {{end_loop}}
    </div>

    <br/>
    <div style="position:absolute; bottom: 100px;">
        <form action="/uploadimage" id="upload-image" method="post">
        <label for="form-file"> <b>Image: </b></label>
        <input id="form-file" type="file" name="upload" required>
        <input type="submit"  id="submitbutton" value="Send">
        </form>
    </div>

    <div style="position:absolute; bottom: 10px;">
        <form action="/uploadtext" id="upload-text" method="post">
        <label for="commenting"> <b>Messages: </b> </label>
        <textarea id="commenting" rows="3" cols="100" placeholder = "Enter Message.." name = "msg" required></textarea>
        <input type='submit' id="submitbutton" value='Send'>
        </form>
    </div>
    

</body>
</html>