<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css')}}">
<title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="main">home</a></li>
    <li><a href="settings">settings</a></li>
</taskbar>

</head>

<body>
    <h1> You are chatting with:
        <img src={Person_Profile_Image} height="300" width="300"></img>
        <p> {{person_name}}</p>
    </h1>


    <div style="overflow-y: auto; justify-content: left;">
        {{start_loop}}
        <p> {{name}} : &quot;{{comment}}&quot;</p>
        <p> {{name}} : </br> <img src="{{image_name}}" alt="picture did not load correctly, please try again" height="300" width="300"></image> </p>
        {{end_loop}}
    </div>
    <br/>
    
    <div style="position:absolute; bottom: 10px;">
        <form action="/uploadtext" id="upload-text" method="post">
        <label for="commenting"> <b>Messages: </b> </label>
        <textarea id="commenting" rows="3" cols="100" placeholder = "Enter Message.." name = "msg" required></textarea>
        <input type='submit' id="submitbutton" value='Send'>
        </form>
    </div>
    

</body>
</html>