<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css')}}">
    <script type="text/javascript" src="extra.js" async></script>
    <title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="/templates/main.html">home</a></li>
    <li><a href="/templates/settings.html">settings</a></li>
    <li><a href="/templates/signup.html">signup</a></li>
</taskbar>
</head>

<body>
 
    <div id="formstuff">
    <form action="/login" id="login-form" method="post"> <!--what ever you guys what the form to do, you'd have to edit here!-->
    username&nbsp;&nbsp;<label for="username"></label><input type="text" id="username" name="username"/><br><br>
    password&nbsp;&nbsp;<label for="password"></label><input type="text" id="password" name="password"/><br><br>
    <input type="submit" id="submitbutton" value="login">
    </form>
    </div>
    <br>
    <div id="login">
        <p> don't have an account? <a href="signup.html">sign up</a> here</p>
    </div>
</body>
</html>