<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css')}}">
    <title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <!-- <li><a href="/templates/main.html">home</a></li>
    <li><a href="/templates/settings.html">settings</a></li> -->
    <li><a href="/signup">signup</a></li>
</taskbar>
</head>

<body>
 
    <div>
        Invalid Credentials! Click back to return to login page!
        <p> <a href="login"> Back </a></p>
    </div>
    <div id="login">
        <p> Don't have an account? <a href="signup">Sign up</a> here</p>
    </div>
</body>
</html>
