<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    <script type="text/javascript" src="/static/functions.js" async></script>
    <title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="/templates/main.html">home</a></li>
    <li><a href="/templates/settings.html">settings</a></li>
    <li><a href="/templates/signup.html">signup</a></li>
</taskbar>
</head>

<body>
 
    <div id="formstuff">
    <form action=""> <!--what ever you guys what the form to do, you'd have to edit here!-->
    username&nbsp;&nbsp;&nbsp;<input type="text" id="username"></input> <br><br>
    password&nbsp;&nbsp;&nbsp;<input type="text" id="password"></input> <br><br>
    <input type="submit" id="submitbutton" value=" login ">
    </form>
    </div>
    <br>
    <div id="login">
        <p> don't have an account? <a href="/templates/signup.html">sign up</a> here</p>
    </div>
</body>
</html>