<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/stylesheets/style.css">

<title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="main.html">home</a></li>
    <li><a href="settings.html">settings</a></li>
    <!-- <li><a href="signup.html">signup</a></li>
    <li><a href="login.html">login</a></li> -->
    <!-- <div class="search">
        <input type="text" placeholder="Search.."></inputb>
    </div> -->
    <!-- <div class="search-container"> -->
        <form action="/search" id="search-bar" method="post">
        Searchbar&nbsp;&nbsp;<label for="search"></label><input type="text" id="search" name="search" placeholder="Search for...">
        <input type="submit" id="submitbutton" value="search">
        </form>
    <!-- </div> -->
</taskbar>
</head>

<body>

    <!-- whoever is online right now and then redirect to their page-->
    
    <userprofiles>
        <profiles><b>Online:</b></profiles>
        {{start_loop}}<profiles><a href="chatbox.html">{{Username}}</a></profiles>{{end_loop}}
    </userprofiles>


    <movies>
        {{start_movies_loop}}
        <p>{{Movie_Details}}</p>
        {{end_movies_loop}}
    </movies>
    

</body>
</html>