<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
<title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="main">home</a></li>
    <li><a href="settings">settings</a></li>
    <!-- <li><a href="signup.html">signup</a></li>
    <li><a href="login.html">login</a></li> -->
    <div class="search">
        <input type="text" placeholder="Search.."></inputb>
    </div>
    <div class="search-container">
        <button>Submit</button>
    </div>
</taskbar>
</head>

<script src="../static/functions.js"></script>
<body>

    <!-- whoever is online right now and then redirect to their page-->
    
    <userprofiles>
        <profiles><b>Online:</b></profiles>
        <!-- {{start_loop}}<profiles><a href="chatbox">{{Username}} [Chat]</a></profiles>{{end_loop}} -->
        {{start_loop}}
        <profiles>
            <a>{{Username}}
            <form action='/enter-chat'id='enter-chat-form' method='post'> 
                <input type='hidden' id='connected-username' name='connected-username' value={{Username}}>
                <input type='submit'id='enterchat' value='Chat'> 
            </form>
            </a>    
        </profiles>
        {{end_loop}}
    </userprofiles>


    <movies>
        {{start_movies_loop}}
        <movieposts>
            {{Movie_Name}}
            <img src= {{Image_API}} alt= "Movie Picture" height = "200" width= "200">
            <div class="buttons">
                <!-- {Vote Message}-->
                <!-- if not voted, show only the amount of votes on good or bad -->
                <!-- if voted, say you have voted good or bad and show the amount of votes on good or bad -->
                <!-- user should not be able to vote more than once, if they vote the other choice,
                then their previous choice will be canceled -->
                <!-- <form action="/votegood" method="post">
                    <input type="submit" class="button" value="Good">
                </form>
                <form action="/votebad" method="post">
                    <input type="submit" class="button" value="Bad">
                </form> -->
                <button onclick="sendLike()"> Like </button>
                <button onclick="sendDislike()"> Dislike </button>
            </div>
        </movieposts>
        {{end_movies_loop}}
    </movies>
    

</body>
</html>