<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="../static/stylesheets/style.css"/>
        <script src = "../static/functions.js" ></script>
    <title> Settings </title>
    <taskbar>
        <li><b>leadreviews</b></li>
        <li><a href="main">home</a></li>
        <li><a href="settings">settings</a></li>
        <!-- <li><a href="signup.html">signup</a></li>
        <li><a href="login.html">login</a></li> -->
    </taskbar>
    </head>
    <body>
        <h1> Settings Page</h1>
        <img src={Profile_Image} height="300" width="300"></image>
        <form action="/profilepic-upload" id="profilepic-form" method="post" enctype="multipart/form-data">
            <label for="form-file"> Upload a profile Image </label>
            <input id="form-file" type="file" name="upload">
            <input type="submit" value="Submit">
         </form>

        <form action="/disturb" id="disturb-form" method="post">
            <p> See other profile pictures: {{On_Off_Indicator}}</p>
            <p> Note: By turning this on, you will only see the default profile picture of the user signed in.</p>
            <input type="submit" id="toggle" value="toggle on/off">
        </form>

        <form action="log-out" id="logout-form" method="post">
            <p> Log Out: </p>
            <input type="submit" id="logout" value="Log Out">
        </form>

    </body>

</html>