<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="../static/stylesheets/style.css"/>
        <script src = "../static/functions.js" ></script>
    <title> Settings </title>
    <taskbar>
        <li><b>leadreviews</b></li>
        <li><a href="main.html">home</a></li>
        <li><a href="settings.html">settings</a></li>
        <li><a href="signup.html">signup</a></li>
        <li><a href="login.html">login</a></li>
    </taskbar>
    </head>
    <body>
        <h1> Settings Page</h1>
        <p>
            <div onclick = "noDisturb()">Do Not Disturb</div>
        </p>
        <p> 
            <a href = "editAccount.html">Edit Account</a>
        </p>
        <p>
            <div onclick = "deleteAccountAlert()">Delete Account</div>
        </p>
    </body>

</html>