<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css')}}">
    <script type="text/javascript" src="extra.js" async></script>
<title>leadreviews</title>
<taskbar>
    <li><b>leadreviews</b></li>
    <li><a href="/login">login</a></li>
</taskbar>
</head>

<body>
 
    <div id="formstuff">

    <form action="/create-account" id="account-form" method="post">
    username<input type="text" id="username" name="usr"/> <br><br>
        email<input type="text" id="email" name="eml"/> <br><br>
    password<input type="password" id="password" name="pswd"/> <br><br>
    <input type="submit" id="submitbutton" value=" signup " href="mainpage">
    </form>
    </div>
    <br>
    <div id="login">
        <p> already have an account? <a href="/login">log in</a> here</p>
    </div>
</body>
</html>